<!-- <footer class="project-footer">
    <div class="row">
        <div class="twelve columns">
            <img id="project-footer-dots" src="{{ site.url }}/img/project/Punkte_gross_subpage.png" alt="test" />
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <p class="project-footer-txt">Shop @ DaWanda</p>
            <p class="project-footer-txt">minfien@superhaufen.com</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns footer-offset">
            <a href="#top">
                <img id="project-footer-backlink" src="{{ site.url }}/img/project/Backbutton_gross.png" alt="test" />
            </a>
        </div>
    </div>
</footer> -->

<footer class="project-footer">
    
            <img id="project-footer-dots" src="{{ site.url }}/img/project/Punkte_gross_subpage.png" alt="test" />
     

    
            <p class="project-footer-txt">Shop @ DaWanda</p>
            <p class="project-footer-txt">minfien@superhaufen.com</p>
    
    
            <a href="#top">
                <img id="project-footer-backlink" src="{{ site.url }}/img/project/Backbutton_gross.png" alt="test" />
            </a>

</footer>
